videos/scan_cache.json
videos/YTP nostrane
videos/YTP fai da te
videos/YTPMV dimportazione
videos/YTP da internet
videos/Risorse
videos/Old sources
videos/Tutorial per il pooping
__pycache__
videos/video_index.json
processed_cache.json
/videos
/__pycache__
*.pyc
